{% extends "base.html" %}

{% block content %}
<div class="container mt-5">

  <!-- ติดต่อเรา -->
  <div class="p-5 mb-5 rounded shadow" style="background-color:rgb(187, 187, 230); border-left: 5px solidrgb(27, 7, 135);">
    <h2 class="mb-4 text-pink fw-bold">
      <i class="bi bi-envelope-at-fill me-2"></i>ติดต่อเรา
    </h2>

    <div class="mb-3">

      <p class="mb-2 text-dark">
        <i class="bi bi-geo-alt-fill text-danger me-2"></i>
        <strong>ที่อยู่ :</strong>
        มหาวิทยาลัยราชภัฏศรีสะเกษ<br>
        319 หมู่ที่ 8 ถนนไทยพันทา ตำบลโพธิ์ อำเภอเมือง จังหวัดศรีสะเกษ รหัสไปรษณีย์ 33000
      </p>

      <p class="mb-2 text-dark">
        <i class="bi bi-telephone-fill text-primary me-2"></i>
        <strong>โทร :</strong> <span class="text-primary">045-6436006</span><br>
        <i class="bi bi-printer-fill text-secondary me-2"></i>
        <strong>โทรสาร :</strong> <span class="text-secondary">045-643607</span>
      </p>

      <p class="mb-2 text-dark">
        <i class="bi bi-globe2 text-success me-2"></i>
        <strong>เว็บไซต์ :</strong>
        <a href="https://www.sskru.ac.th/" target="_blank" class="text-decoration-none text-success">
          www.sskru.ac.th
        </a>
      </p>

      <p class="mb-2 text-dark">
        <i class="bi bi-facebook text-primary me-2"></i>
        <strong>Facebook :</strong>
        <a href="https://www.facebook.com/sskruconnect/?locale=th_TH" target="_blank" class="text-decoration-none text-primary">
          sskruconnect
        </a>
      </p>

    </div>
  </div>

</div>


<style>
  .text-pink {
    color:rgb(3, 7, 108);
  }
</style>
{% endblock %}
